body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

body,
body * {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

input,
button,
select {
  border-radius: 6px;
}

/* Keyboard accessibility and patch for browsers that don't support :focus-visible */
*:focus {
  outline: 2px auto -webkit-focus-ring-color;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline-color: black;
  outline-color: -webkit-focus-ring-color;
  outline-style: solid;
  outline-width: 2px;
}
